.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background: #ffffff;
  border-bottom: 1px solid #9a9a9a9a;
}

.fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0px;
}

@keyframes animateIn {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes animateOut {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

.animateIn {
  animation: animateIn 0.4s ease-in;
}

.animateOut {
  animation: animateOut 0.4s ease-out forwards;
}

nav {
  display: flex;
  flex: 1;
  padding: 0% 10%;
}

#logo {
  display: flex;
  align-self: center;
  height: 70%;
}

#login {
  background: black;
  box-shadow: none;
}

#login > * {
  color: white;
}
