.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70px;
  background: #ffffff;
  border-bottom: 1px solid #9a9a9a9a;
}

.fixed {
  position: sticky;
  /*left: 0;
  right: 0;*/
  top: 0px;
}

.animateIn {
  transform: translateY(0);
}

.link {
  text-decoration: none;
  color: #171219;
}

.link:hover {
  color: #2c2c91;
}
