.masterTitleContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.masterTitle {
  text-align: center;
}

.articlePreviewFlexContainer {
  display: flex;
  margin: 0 -20px;
}

.articlePreviewFlexContainer>* {
  padding: 0px 20px;
}

.articleListContainer {
  display: flex;
  flex-direction: column;
  padding: 0% 5%;
}

.articleListContainer>div {
  margin-top: 15px;
}

@media screen and (max-width: 768px) {
  .articlePreviewFlexContainer {
    flex-direction: column;
  }

  .articleListContainer {
    padding: 0% 0%;
  }
}